* {
  margin: 0;
  padding: 0;
  block-size: border-box;
}

table {
  border-collapse: collapse;
  width: 600px;
  height: 600px;
  border: 1px solid #0b0b0b;
}



td {
  border: 1px solid #0b0b0b;
  text-align: center;
  width: 30px;
  height: 30px;
}

.td3,
.td37,
.td205 {
  background-color: yellow;
}

.td36,
.td208 {
  background-color: red;
}

.td171,
.td240 {
  background-color: black;
}

.td207 {
  background-color: blue;
}