* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table,
td {
  border-collapse: collapse;
  text-align: center;
  border: 2px solid black;
}

td {
  width: 30px;
  height: 30px;
}

.td193 {
  width: 60px;
}

.td225 {
  width: 120px;
}

.td226 {
  width: 120px;
}

.td195 {
  width: 120px;
}

.td1,
.td162 {
  height: 60px;
}

.td35,
.td98 {
  height: 120px;
}

.td194 {
  height: 60px;
}

.td3,
.td35,
.td193 {
  background-color: yellow;
}

.td34,
.td196 {
  background-color: red;
}

.td161,
.td226 {
  background-color: black;
}

.td195 {
  background-color: blue;
}